Repository smonoscr/nixfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cleanup, lint, test

.gitlab-ci.yml:

default:
  image: nixpkgs/nix-flakes
  before_script:
    - git config --global user.email ""
    - git config --global user.name "Gitlab CI"
    - git config --global push.followTags true
    - git checkout $CI_COMMIT_REF_NAME
    - git remote set-url origin "https://gitlab-ci:${GITLAB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git"
    - git pull origin $CI_COMMIT_REF_NAME

variables:
  NIX_PATH: nixpkgs=channel:nixos-unstable

stages:
  - cleanup
  - lint
  - test
  - release
  - release_iso

cleanup:
  stage: cleanup
  script:
    - echo "remove dead code"
    #- nix run github:astro/deadnix -- -eV
    - nix-shell -p deadnix --run "deadnix -eV"
    - |
      if ! git diff --quiet --exit-code; then
        git add -A;
        git commit -m "ref(nix): cleanup dead nix code";
        git push -o ci.skip origin "$CI_COMMIT_REF_NAME"
      fi
  only:
    changes:
      - home/**
      - hosts/**
      - system/**
      - flake.nix

lint:
  stage: lint
  script:
    - nix-shell -p alejandra --run "alejandra -V ;alejandra ."
    #- nix run github:kamadorueda/alejandra .
    - nix-shell -p statix --run "statix check; statix fix -d; statix fix"
    - |
      if ! git diff --quiet --exit-code; then
        git add -A;
        git commit -m "style(nix): format nix code";
        git push -o ci.skip origin "$CI_COMMIT_REF_NAME"
      fi
  only:
    changes:
      - home/**
      - hosts/**
      - system/**
      - flake.nix

test:
  stage: test
  script:
    - nix flake show
    - nix flake check --version --debug
    #- nix flake check --all-systems --no-update-lock-file --offline
  only:
    changes:
      - home/**
      - hosts/**
      - system/**
      - flake.nix
      - flake.lock

release:
  image: node:slim
  stage: release
  before_script:
    - apt-get update && apt-get install -y --no-install-recommends git-core ca-certificates
    - npm install --location=global semantic-release @semantic-release/gitlab @semantic-release/changelog conventional-changelog-conventionalcommits @semantic-release/commit-analyzer @semantic-release/git
  script:
    - semantic-release
  only:
    - main

build_iso:
  stage: release_iso
  dependencies:
    - release
  script:
    - nix build .#iso
    - nix build .#install-iso
  artifacts:
    paths:
      - result
  only:
    - main

chore(ci). fix reihenfolge of jobs
  .gitlab-ci.yml
Due: none

ci: fix job typo
  .gitlab-ci.yml
Due: none

test: remove a nix build install-iso step for testing job
  .gitlab-ci.yml
Due: none

test: semantic release
  .gitlab-ci.yml
Due: none

chore(release): 2.6.0 [skip ci]
  CHANGELOG.md
Due: none

chore: update flock
  flake.lock
Due: test

ci: added cache for npm
  .gitlab-ci.yml
Due: none

chore: make refactor commit also da patch release
  .releaserc.yml
Due: none

fix: disable hyprland debug log but keep option in hyprland config
  home/desktop/wayland/hyprland/config.nix
Due: none

ci: remove npm cache from release job
  .gitlab-ci.yml
Due: none

chore: fix releaserc
  .releaserc.yml
Due: none

ci: fixonventional-changelog-conventionalcommits @ v7.0.2
  .gitlab-ci.yml
Due: none

refactor: avoid repeated keys in attribute sets
  flake.nix
  home/profiles/oscar/home.nix
  hosts/cosmos/security.nix
  hosts/voyager/hardware-configuration.nix
  system/k3s.nix
  system/monitoring/default.nix
Due: cleanup, lint, test

chore(release): 2.6.2 [skip ci]
  CHANGELOG.md
Due: none

ref: follow hypridle, remove input, exec-once hypridl in hyprland config
  flake.nix
  home/desktop/wayland/hyprland/config.nix
  home/desktop/wayland/hyprland/hypridle.nix
Due: cleanup, lint, test

chore(flake.lock): update flock
  flake.lock
Due: test

feat: add and use own cachix cache
  hosts/cosmos/packages.nix
Due: none

ci: remove 'only' rules for all jobs and stages
  .gitlab-ci.yml
Due: none

chore(release): 2.7.0 [skip ci]
  CHANGELOG.md
Due: none

fix(flake): hyprland flake input; ags follow nixpkgs, remove old inputs
  flake.nix
Due: cleanup, lint, test

chore(flock): update flake.lock
  flake.lock
Due: test

ref: remove repetitive code;
  home/desktop/wayland/hyprland/config.nix
Due: none

fix(hyprland): add systemd variables and extraCommands
  home/desktop/wayland/hyprland/default.nix
Due: none

fix(hm): outsource home-manager settings to own .nix file instead of flake
  system/home-manager.nix
Due: cleanup, lint, test

chore(release): 2.7.1 [skip ci]
  CHANGELOG.md
Due: none

ci: test build and push to cachix
  .gitlab-ci.yml
Due: none

ci(fix): valid build stage
  .gitlab-ci.yml
Due: none

test(ci): build in pipeline and push to cachix
  .gitlab-ci.yml
  flake.lock
Due: test

test(ci): try h in gitlab pipeline
  .gitlab-ci.yml
Due: none

ci(test): fix typo in nix build
  .gitlab-ci.yml
Due: none
