Repository smonoscr/nixfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cleanup, lint, test

cleanup:
  stage: cleanup
  script:
  - echo "remove dead code"
  - nix-shell -p deadnix --run "deadnix -eV"
  - "if ! git diff --quiet --exit-code; then\n  git add -A;\n  git commit -m \"ref(nix): cleanup dead nix code\";\n  git push -o ci.skip origin \"$CI_COMMIT_REF_NAME\"\nfi\n"

lint:
  stage: lint
  script:
  - nix-shell -p alejandra --run "alejandra -V ;alejandra ."
  - nix-shell -p statix --run "statix check; statix fix -d; statix fix"
  ...

test:
  stage: test
  script:
  - nix flake show
  - nix flake check --version --debug

fix: hyprland window rules and cleanup imports
  home/desktop/wayland/hyprland/rules.nix
  home/profiles/simon/home.nix
Due: none

chore(release): 5.3.0 [skip ci]
  CHANGELOG.md
Due: none

fix(hyprland): update windows rules, hypridle, default settings
  flake.lock
  home/desktop/wayland/hypridle.nix
  home/desktop/wayland/hyprland/default.nix
  home/desktop/wayland/hyprland/rules.nix
  home/desktop/wayland/hyprland/settings.nix
Due: test

fix(hyprland): windowrules
  home/desktop/wayland/hyprland/rules.nix
Due: none

chore(release): 5.5.0 [skip ci]
  CHANGELOG.md
Due: none

fix: homeConfiguration for work profile
  flake.nix
  home/profiles/work/home.nix
  home/programs/utils.nix
Due: cleanup, lint, test

fix(hyprland): steam windowrules
  home/desktop/wayland/hyprland/rules.nix
Due: none

chore(release): 5.5.2 [skip ci]
  CHANGELOG.md
Due: none

feat(server): k3s and helm module to install k3s and helm and install and update helm-charts directly on k3s and network settings
  hosts/desktop/configuration.nix
  hosts/server/configuration.nix
  hosts/server/network.nix
  modules/kubernetes/helm.nix
  modules/kubernetes/k3s.nix
  system/network/default.nix
  system/services/kubernetes/helm.nix
  system/services/kubernetes/k3s.nix
Due: none

chore(flake): update flock
  flake.lock
Due: test

fix: add syncOptions CreateNamespace true
  system/services/kubernetes/helm.nix
Due: none

clean: delete old monitoring files
  modules/network/network.nix
  system/monitoring/cockpit.nix
  system/monitoring/dashboards/node.json
  system/monitoring/dashboards/unbound.json
  system/monitoring/dashy.nix
  system/monitoring/default.nix
  system/monitoring/healthchecks.nix
  system/network/default.nix
Due: none

feat: k3s+helm setup
  flake.lock
  modules/k3s/agent.nix
  modules/k3s/k3s-reset-node
  modules/k3s/server.nix
  modules/kubernetes/helm.nix
  modules/kubernetes/k3s.nix
  system/network/default.nix
  system/services/kubernetes/helm.nix
  system/services/kubernetes/k3s.nix
Due: test

chore(release): 5.6.0 [skip ci]
  CHANGELOG.md
Due: none

ref: cleanup unused files
  system/services/backup.nix
  system/services/kanidm.nix
  system/services/openldap.nix
Due: none

chore(release): 5.7.0 [skip ci]
  CHANGELOG.md
Due: none

ref: cleanup unused flake inputs
  flake.nix
Due: cleanup, lint, test

ref: cleanup flake.lock
  flake.lock
Due: test

feat: work setup with i3 etc
  home/desktop/x11/i3/config.nix
  home/desktop/x11/i3/default.nix
  home/desktop/x11/i3/i3status.nix
  home/profiles/work/home.nix
  home/programs/gtk.nix
  home/programs/utils.nix
Due: none

chore(release): 5.8.0 [skip ci]
  CHANGELOG.md
Due: none

fix: nh flake env
  system/nix/nh.nix
Due: none

fix(firefox): move from startpage to duckduckgo search
  home/browser/firefox/default.nix
Due: none

fix(csgo-vulkan-fix: change resolution to 1280x960
  home/desktop/wayland/hyprland/plugins.nix
Due: none

fix(sops-nix): add to sharedModule
  home/profiles/simon/secrets/sops.nix
  system/programs/home-manager.nix
Due: none

Path conditions:
  cleanup: any of: home/**, hosts/**, system/**, flake.nix
  lint: any of: home/**, hosts/**, system/**, flake.nix
  test: any of: home/**, hosts/**, system/**, flake.nix, flake.lock
