Repository smonoscr/nixfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cleanup, lint, test

.gitlab-ci.yml:

default:
  image: nixpkgs/nix-flakes
  before_script:
    - git config --global user.email ""
    - git config --global user.name "Gitlab CI"
    - git config --global push.followTags true
    - git checkout $CI_COMMIT_REF_NAME
    - git remote set-url origin "https://gitlab-ci:${GITLAB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git"
    - git pull origin $CI_COMMIT_REF_NAME

variables:
  NIX_PATH: nixpkgs=channel:nixos-unstable

stages:
  - cleanup
  - lint
  - test
  - release
  - release_iso

cleanup:
  stage: cleanup
  script:
    - echo "remove dead code"
    #- nix run github:astro/deadnix -- -eV
    - nix-shell -p deadnix --run "deadnix -eV"
    - |
      if ! git diff --quiet --exit-code; then
        git add -A;
        git commit -m "ref(nix): cleanup dead nix code";
        git push -o ci.skip origin "$CI_COMMIT_REF_NAME"
      fi
  only:
    changes:
      - home/**
      - hosts/**
      - system/**
      - flake.nix

lint:
  stage: lint
  script:
    - nix-shell -p alejandra --run "alejandra -V ;alejandra ."
    #- nix run github:kamadorueda/alejandra .
    - nix-shell -p statix --run "statix check; statix fix -d; statix fix"
    - |
      if ! git diff --quiet --exit-code; then
        git add -A;
        git commit -m "style(nix): format nix code";
        git push -o ci.skip origin "$CI_COMMIT_REF_NAME"
      fi
  only:
    changes:
      - home/**
      - hosts/**
      - system/**
      - flake.nix

test:
  stage: test
  script:
    - nix flake show
    - nix flake check --version --debug
    #- nix flake check --all-systems --no-update-lock-file --offline
  only:
    changes:
      - home/**
      - hosts/**
      - system/**
      - flake.nix
      - flake.lock

release:
  image: node:slim
  stage: release
  before_script:
    - apt-get update && apt-get install -y --no-install-recommends git-core ca-certificates
    - npm install --location=global semantic-release @semantic-release/gitlab @semantic-release/changelog conventional-changelog-conventionalcommits @semantic-release/commit-analyzer @semantic-release/git
  script:
    - semantic-release
  only:
    - main

build_iso:
  stage: release_iso
  dependencies:
    - release
  script:
    - nix build .#iso
    - nix build .#install-iso
  artifacts:
    paths:
      - result
  only:
    - main

ci(fix): update pipeline-token variable
  .gitlab-ci.yml
Due: none

revert(ci): changes to the token variable for gitlab
  .gitlab-ci.yml
  home/editors/nixvim.nix
  home/profiles/simon/home.nix
Due: none

style(format): statix code; a pattern is empty, use `_` instead
  flake.nix
  home/editors/nixvim.nix
Due: cleanup, lint, test

chore(release): 5.0.1 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 5.0.2 [skip ci]
  CHANGELOG.md
Due: none

docs: update README for better formatting and reading
  README.md
Due: none

chore(release): 5.1.0 [skip ci]
  CHANGELOG.md
Due: none

docs: remove docs folder, transfer to wiki
  docs/basic.commands.md
  docs/gaming.settings.md
  docs/minimal.install.nixos.md
Due: none

fix(gitignore): added .direnv to gitignore git config
  home/terminal/programs/git.nix
Due: none

chore(release): 5.1.1 [skip ci]
  CHANGELOG.md
Due: none

refactor(cleanup): hyprland files splitup and cleanup, inputs management sops-nix+hyprland+ags, update flock
  flake.lock
  home/desktop/wayland/ags/default.nix
  home/desktop/wayland/hypridle.nix
  home/desktop/wayland/hyprland/binds.nix
  home/desktop/wayland/hyprland/default.nix
  home/desktop/wayland/hyprland/plugins.nix
  home/desktop/wayland/hyprland/rules.nix
  home/desktop/wayland/hyprland/settings.nix
  home/desktop/wayland/hyprlock.nix
  home/editors/nixvim.nix
  home/profiles/simon/home.nix
  home/profiles/simon/secrets/sops.nix
Due: test

chore(release): 5.1.3 [skip ci]
  CHANGELOG.md
Due: none

style: lint2
  flake.lock
  home/desktop/wayland/hyprland/default.nix
  home/desktop/x11/i3/default.nix
  system/core/console.nix
  system/core/security.nix
  system/services/greetd.nix
  system/services/xserver.nix
Due: test

chore(release): 5.2.0 [skip ci]
  CHANGELOG.md
Due: none

ci: remove check job, because why running check in ci when having PRE-COMMIT(!)-hook? yeah
  .gitlab-ci.yml
Due: none

chore(flake): update flock
  flake.lock
Due: test

fix(editors/terminal): add fonts to editors,emulators and terminals, adjust editorconfig
  home/editors/editorconfig.nix
  home/editors/vscodium.nix
  home/terminal/emulators/alacritty.nix
  home/terminal/emulators/foot.nix
  home/terminal/emulators/kitty.nix
Due: none

chore(release): 5.2.1 [skip ci]
  CHANGELOG.md
Due: none

fix: add aliases to zsh
  home/terminal/shell/zsh.nix
Due: none

chore(release): 5.2.2 [skip ci]
  CHANGELOG.md
Due: none

fix(audio): wireplumber audo channel-switch-config to remove easyeffects; and remove easyeffects
  flake.lock
  home/desktop/wayland/hyprland/settings.nix
  home/desktop/x11/i3/config.nix
  home/profiles/simon/home.nix
  home/services/audio.nix
  system/services/pipewire.nix
Due: test

chore(release): 5.2.3 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 5.2.4 [skip ci]
  CHANGELOG.md
Due: none

fix(pre-commit-hook): move pre-commit-hook config to a seperate file out of flake.nix
  flake.nix
  pre-commmit-hooks.nix
Due: cleanup, lint, test

chore(release): 5.2.6 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 5.2.7 [skip ci]
  CHANGELOG.md
Due: none

fix(pre-commit-hook): fix paths
  home/profiles/oscar/home.nix
  pre-commit-hooks.nix
Due: none

fix(audio): pipewire rate to 48000 and fix configs for pipewire and wireplumber
  home/services/audio.nix
  system/services/pipewire.nix
Due: none

fix: hypridle config now valid, remove unused mbsync.service, fix polkit.service config
  home/desktop/wayland/hypridle.nix
  home/profiles/simon/secrets/sops.nix
  home/services/system/polkit-agent.nix
Due: none

chore(release): 5.2.8 [skip ci]
  CHANGELOG.md
Due: none
